<div class="row" style="margin-bottom: 30px">
  <div class="col-md-8 col-md-offset-2">
    <label
      style="
        font-size: 20px;
        font-family: 'Original Surfer', cursive;
        color: #673ab7;
      "
      >Adding a New Recipe!</label
    >
  </div>
</div>
<div class="row">
  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
      <mat-card>
        <form [formGroup]="newRecipe" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error  *ngIf = "newRecipe.get('name').errors?.required">This field is required!</mat-error>
            <mat-icon matSuffix>label</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error  *ngIf = "newRecipe.get('description').errors?.required">This field is required!</mat-error>
            <mat-icon matSuffix>description</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Image URL</mat-label>
            <input
              matInput
              type="text"
              id="imageUrl"
              formControlName="imageUrl"
              #imageUrl
            />
            <mat-icon matSuffix>image</mat-icon>
          </mat-form-field>
          <div class="example-full-width" formArrayName="ingrediends">
            <div style="display: flex;  flex-wrap: wrap;"
              class="row"
              *ngFor="
                let ingredientCtrl of newRecipe.get('ingrediends')['controls'];
                let i = index"
              [formGroupName]="i"
            >
              <mat-form-field class="col-md-4">
                <mat-label>Ingredient Name</mat-label>
                <input type="text" matInput formControlName="name" />
              </mat-form-field>
              <mat-form-field class="col-md-4">
                <mat-label>Amount</mat-label>
                <input type="number" matInput formControlName="amount" />
              </mat-form-field>
              <div class="col-md-4"> 
                <button mat-raised-button color="accent" (click)="onDeleteIngrediends(i)" type="button">X</button>
              </div>
            </div>
            <button style="margin-top: 20px;" (click)="onAddIngrediends()" type="button" mat-raised-button color="primary">Add Ingredient</button>
          </div>
          <div class="example-full-width" >
            <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
                <button style="margin-right: 10px;"  type="submit" mat-raised-button color="primary" [disabled]="newRecipe.invalid">Submit</button>
                <button mat-raised-button color="accent" type="button" routerLink="../recipes">Cancel</button>
              </div>
          </div>
        </form>
      </mat-card>
      <img style="width: 20%;" [src]="imageUrl.value" class="img-responsive" />
    </div>
  </div>
</div>
