<section>
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header" style="display: flex;">
                    <div class="col-md-1" style="width: 3%;">
                        <mat-icon>view_list</mat-icon>
                    </div>
                    <div class="col-md-4" style="bottom: 6px;">
                        <h4>Recipe List</h4>
                    </div>
                    <div class="col-md-7" id="mySearchField" >
                        <div style="display: flex; flex-direction: row-reverse;">
                           <label class="my-search"  for="search-input"><i class="material-icons search-icon">search</i></label>
                           <input placeholder="Search..." type="text" #filter class="browser-default form-control search-field"  aria-label="Search box" (keyup)="applyFilter($event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex; justify-content: center;">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <mat-card>
                    <div class="body">
                        <div class="table-responsive">
                            <mat-table #table [dataSource] = "dataSource" matSort class="recipe-table" >
                                <ng-container matColumnDef="imageUrl"  >
                                    <mat-header-cell *matHeaderCellDef class="table-column" mat-sort-header >Image</mat-header-cell>
                                    <mat-cell *matCellDef= "let row" class="table-column">   <img width="15%" [src]="row?.imageUrl" alt=""> </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef= "name" sticky>
                                    <mat-header-cell *matHeaderCellDef  mat-sort-header class=" table-column">Name</mat-header-cell>
                                    <mat-cell *matCellDef = "let row" class=" table-column">{{row?.name | shorten: 25}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef = "description">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column">Description</mat-header-cell>
                                    <mat-cell *matCellDef = "let row" class="table-column">{{row?.description | shorten: 25}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef = "ingrediends">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column">Ingredients (name-amount)</mat-header-cell>
                                    <mat-cell *matCellDef = "let row" style="display: flex;" class="table-column">
                                        <ng-container *ngFor ="let ingredient of row?.ingrediends">
                                            <div style="display: flex;width: 100%">
                                                <p style="padding-right: 20px;">{{ingredient.name | shorten: 5}} </p>
                                                <p style="padding-right: 20px;">{{ingredient.amount | shorten: 5}}</p>
                                            </div>
                                        </ng-container>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column">Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0 table-column">
                                        <button mat-icon-button color="primary"  class="btn-tbl-edit" (click) = "editRecipes(row.id, i)">
                                            <mat-icon aria-label="Edit" class="col-white">edit
                                            </mat-icon>
                                          </button>
                                          <button mat-icon-button color="accent" type="button" (click)="deleteSelectedRecipe(row)" [ngClass]="'btn-tbl-delete'">
                                            <mat-icon aria-label="Delete" class="col-white">delete
                                            </mat-icon>
                                          </button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; let i=index; columns: tableColumns;">
                                 
                                </mat-row>
                            </mat-table>
                            <div *ngIf="isLoadingResults"  class="tbl-spinner">
                                <mat-progress-spinner class="spinner" color="primary" [diameter]="50" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <mat-paginator [length]= "count"  [pageSize] = "pageSize" [pageSizeOptions] = "[5,10,20]"></mat-paginator>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>